#Username {
  width: 15%;
  position: absolute;
  left: 42%;
  top: 30%;
  border-radius: 10px;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  font-size: 200%;
}
#Password {
  width: 15%;
  position: absolute;
  left: 42%;
  top: 40%;
  border-radius: 10px;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  font-size: 200%;
}
#Login {
  width: 6.5%;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  position: absolute;
  top: 47%;
  left: 42%;
  color: white;
  background-color: #2196F3;
}
#Login:hover {
  background-color: red;
}
#Register {
  width: 6.5%;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  position: absolute;
  top: 47%;
  left: 50%;
  color: white;
  background-color: #2196F3;
}
#Register:hover {
  background-color: red;
}
