
.header {
  text-align: center;
  text-decoration: underline;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.benPicture {
  transform: scaleX(800%);
}

.Quote {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:  #FF0000;
}

.Nav {
  color: #000000;
  text-decoration: none;
}

.center {
  background-color: blue;
}

.Nav:hover {
  text-decoration: none;
  color:  #FF0000;
}

.Wiki {
  color: #000000;
  text-decoration: none;
}

.Wiki:hover {
  text-decoration: none;
  color:  #FF0000;
}

.main {
  text-align: center;
  background-color: blue;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 15%;
}
