
.header {
  text-align: center;
  text-decoration: line-through;
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.benPicture {
  transform: scaleX(1000%);
}

.center {
 text-align: center;
 background-color: blue;
 left: 0;
 right: 0;
 bottom: 0S;
}

.Quote {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:  #FF0000;
}

.Nav {
  color: #000000;
  text-decoration: none;
}

.Nav:hover {
  text-decoration: none;
  color:  #FF0000;
}

.Wiki {
  color: #000000;
  text-decoration: none;
}

.Wiki:hover {
  text-decoration: none;
  color:  #FF0000;
}

.main {
  background-color: #0000FF;
}
